.banner {
  margin-bottom: 1.5rem;
  img {
    max-width: 100%;
  }
  @include media-breakpoint-up(lg) {
    &-mobile {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    &-desktop {
      display: none;
    }
  }
}
