.card-insurance {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem;

    .card {

        &-header {
            padding: 0.5rem;
            background-color: unset;

            &-logo {
                padding-right: .5rem;
                border-right: 1px solid $border-color;

                img {
                    max-width: 25px;
                }
            }

            &-text {
                @include media-breakpoint-down(md) {
                    font-size: 80%;
                }
            }
        }

        &-body {
            line-height: 1;
            padding: 1rem .5rem;

            &-top {
                text-align: center;

                h5 {
                    margin-bottom: 0;
                }

                .price {
                    color: $yellow;
                    font-size: 2rem;
                    font-weight: 500;
                }

                @include media-breakpoint-down(md) {
                    font-size: 80%;
                }
            }

            &-btn {
                .btn {
                    line-height: 1;

                    @include media-breakpoint-down(md) {
                        font-size: 80%;
                    }
                }
            }

            &-detail {
                font-size: 16px;
                padding-bottom: .5rem;

                dl {
                    margin-bottom: 0;

                    dd {
                        text-align: right;
                    }
                }

                @include media-breakpoint-down(md) {
                    font-size: 10px;
                }
            }

            +.card-body {
                border-top: 1px solid $border-color;
            }
        }
    }

    &-img {
        margin-bottom: .5rem;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.card-terms {
    border-width: 0;
    border-radius: 30px;
    padding: 2rem;
    background-color: $primary;
    color: white;

    p {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        background-color: $gray-300;
        padding: 1rem;

        p {
            color: $primary;
        }

        ul {
            color: $body-color;
        }
    }
}

.card-product-detail {
    border-radius: 0;

    .card-header {
        position: relative;
        border-radius: 0;

        &::before {
            content: '\f067';
            @include fontawesome;
            font-size: small;
            color: $gray-300;
            position: absolute;
            top: 50%;
            right: 1.25rem;
            transform: translateY(-50%);

        }

        &[aria-expanded="true"] {
            &::before {
                content: '\f068';
            }
        }
    }
}

.card-protection {
    border-color: $primary;
    background-color: rgba($primary, .15);
    border-radius: 1rem;
}