@font-face {
  font-family: "DB HelvethaicaMon";
  src: url("../fonts/DB_HelvethaicaMon_X.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "DB HelvethaicaMon";
  src: url("../fonts/DB_HelvethaicaMon_X_Med.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "DB HelvethaicaMon";
  src: url("../fonts/DB_HelvethaicaMon_X_Bd.ttf");
  font-weight: 700;
}
